# Author:  DINDIN Meryll
# Date:    03 Octobre 2019
# Project: aster-website

# Files due to compilation
*.pyc
__pycache__

# Environment files
help/
Include/
Lib/
Scripts/
tcl/
.idea/

# Environment variables
environment.json

# Sensitive prod migration
.elasticbeanstalk/config.yml
.ebextensions/security.config
.ebextensions/listeners.config
