# Author:  DINDIN Meryll
# Date:    03 Octobre 2019
# Project: aster-website

# Files due to compilation
*.pyc
__pycache__/

# Environment files
help/
Include/
Lib/
Scripts/
tcl/
.idea/
f


# Sensitive materials
config/
.elasticbeanstalk/
environment.json
.ebextensions/https-listener.config
