.demo-feature {
    text-align: justify;
    border-radius: 5px;
    max-height: 65vh;
    color: #e9ecef;
}

.demo-feature-with-border {
    border-radius: 5px;
    max-height: 75vh;
    max-width: 70vw;
    margin-right: 3vw;
    color: #e9ecef;
    padding: 0;
    border: 1px solid;
}

.aster-btn {
    color: #ff006c;
    border-color: #ff006c;
}

.aster-btn:not(:disabled):not(.disabled):active {
    color: #e9ecef;
    border-color: #ff006c;
    background-color: #ff006c;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 108, 0.5);
}

.aster-btn:hover {
    background-color: #ff006c;
    border-color: #ff006c;
}

.aster-btn:focus {
    box-shadow: none;
}

.aster-color-text {
    color: #ff006c;
}

.close {
    color: #e9ecef;
}

.aster-theme-modal-content {
    background-color: #212529;
    border-color: #e9ecef;
}

.btn-holder {
    position: relative;
    bottom: 0;
}

.tagline-demo {
    border: 3px solid;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0;
}

.description-demo{
    position: absolute;
    bottom: 0;
    left: 0;
}


@media (min-width: 600px) {
    .container {
        max-width: fit-content;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
    }
    .row {
        align-items: normal;
    }
}

.demo-feature text {
    font-size: small;
    font-family: 'Open Sans', sans-serif;
}

.calls {
    font-size: 1.5rem;
}

.table thead th{
    vertical-align: middle;
}

thead {
  overflow-y: scroll;
}

thead.tr {
  display: block;
}

div.table-container {
    width: 100%;
    max-height: calc(100vh - 65px);
    overflow: hidden;
}

.modal-body {
    vertical-align: top;
    display: inline-block;
}

.modal-content {
    display: inline-block;
}

.modal-dialog {
    max-width: 90vw;
}

.col-4 {
    max-width: 33%;
}