.press-bg {
    background-image: url('images/press-bg.jpeg'); 
}

.carousel-inner {
    max-width: 100%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 25px;
    background-color: #ff006c;
    border-radius: 25px;
    background-size: 10px;
    z-index: 1000;
}

.carousel-control-next-icon {
    margin-right: -5vw;
}

.carousel-control-prev-icon {
    margin-left: -5vw;
}

.carousel-indicators {
    bottom: -5vh;
}

.row-equal {
    height: 100%;
}

.row-equal > div[class*='col-'] {
    display: inline-block;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: inline-block;
}