* {
    box-sizing: border-box;
}

body { 
    opacity: 1; 
    transition: opacity 0.5s; 
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:576px){
    body, html {
        min-height: 100vh;
        height: auto !important;
        overflow: visible;
    }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

@media(max-width:576px){
    section {
        min-height: 100vh;
        height: auto !important;
        overflow: visible;
    }
}

.row {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media(max-width:576px){
    .row {
        min-height: 100vh;
        height: auto !important;
        overflow: none;
    }
}

.home-bg-1 {
    background-image: url('images/home-bg-1.jpg'); 
}

.home-bg-2 {
    background-color: #040404;
}

.home-bg-3 {
    background-image: url('images/home-bg-2.jpg'); 
}

.home-bg-4 {
    background-color: #040404;
}

.home-bg-5 {
    background-image: url('images/home-bg-3.jpg'); 
}

.title {
    margin-top: 10vh;
    justify-content: space-evenly;
    width: 85vw;
    line-height: 50px;
    color: white;
    font-size: 22vh;
    text-align: center;
}

@media(max-width:576px){
    .title {
        font-size: 10vh;
    }
}

.title span {
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
}

.small-letter {
    margin-bottom: 4vh;
}

@media(max-width:576px){
    .small-letter {
        margin-bottom: 2vh;
    }
}

.tagline {
    width: 85vw;
    color: white;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

@media(max-width:576px){
    .tagline {
        width: 90vw;
        font-size: 1.5em;
    }
}

.offset {
    margin-top: 30px;
}

.tagline-offset {
    margin-top: 80px;
}

.scroll {
    width: 100vw;
    text-align: center;
    padding-bottom: 25px;
}

.scroll a span {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scroll-1 2s infinite;
    animation: scroll-1 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.scroll a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.scroll a span:nth-of-type(2) {
  margin-top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.scroll a span:nth-of-type(3) {
  margin-top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes scroll-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.align-center {
    text-align: center;
}

.m-r-20 {
    margin-right: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-b-70 {
    padding-bottom: 70px;
}

.v-a-b {
    vertical-align: bottom;
}

.v-a-t {
    vertical-align: top;
}

.video-wrapper {
    width: 45%;
    display: inline-block;
    position: relative;
    padding-bottom: 23.25%;
    height: 0;
}

@media(max-width:576px){
    .video-wrapper {
        width: 92%;
        margin: 2vh 0px 2vh 0px;
        padding-bottom: 56.25%;
    }
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-wrapper {
    max-width: 100%;
    display: inline-block;
    position: relative;
    padding-bottom: 23.25%;
    height: 0;
}

@media(max-width:576px){
    .image-wrapper {
        height: auto !important;
        padding-bottom: 0px;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}

.image-wrapper img {
    max-width: 100%;
}

.text-feature {
    display: inline-block;
    text-align: justify;
    background-color: #000000b3;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 5vh;
}

@media(max-width:576px){
    .text-feature {
        margin: 2vh 3vw 2vh 3vw;
        padding: 0px;
    }
}

.text-feature text {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@media(max-width:576px){
    .text-feature text {
        font-size: 15px;
    }
}

.description {
    display: inline-block;
    text-align: justify;
    background-color: #000000b3;
    padding: 12px;
    border-radius: 10px;
    width: 45%
}

@media(max-width:576px){
    .description {
        width: 92%;
        margin: 1vh 0px 1vh 0px;
    }
}

.description text {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@media(max-width:576px){
    .description text {
        font-size: 15px;
    }
}

.team-member {
    margin: 15px 0;
    padding: 0;
}

@media(max-width:576px){
    .team-member {
        margin: 2vh 15vw 2vh 15vw;
    }
}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.team-member figure img {
    width: 100%;
    border-radius: 10px;
}

.team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
}

.team-member h4 {
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    padding: 0;
    font-size: 1vw;
}

@media(max-width:576px){
    .team-member h4 {
        font-size: 3vh;
    }
}

.team-member figcaption {
    text-align: center;
    border-radius: 10px;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgb(4, 4, 4, 0.75); 
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure figcaption ul li a {
    color: white;
    font-size: 20px;
}

.team-member figure:hover figcaption ul li a {
    color: white;
}

.team-member figure:hover figcaption ul li a:hover {
    color: #ff006c;
}

.line-bottom {
    text-align: center;
    width: 80vw;
    height: 50px;
    border-bottom: 1px solid white;
    position: relative;
}

.line-top {
    text-align: center;
    width: 80vw;
    height: 50px;
    border-top: 1px solid white;
    position: relative;
}

.logo {
    line-height: 20px;
    background-color: #ffffffa1;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 0;
}

@media(max-width:576px){
    .logo {
        width: 90vw;
    }
}

.logo div {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 20px;
}

@media(max-width:576px){
    .logo div {
        display: contents;
    }
}

.logo div a img {
    width: 100%;
}

@media(max-width:576px){
    .logo div a img {
        max-width: 30%;
        margin: 2vh 3vw 2vh 3vw;
    }
}

.contact {
    line-height: 20px;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
}

.contact div {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

@media(max-width:576px){
    .contact div {
        max-width: 100%;
        margin: 3vh 0vw 3vh 0vw;
        padding: 0px;
    }
}

.contact div i {
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin-bottom: 5px;
}

.button-contact{
    max-height: 40px;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.button-contact:hover{
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
}