{%  extends 'layout.html' %}

{%  block body %}

    <body onload="document.body.style.opacity='1'">
    <link href="/static/aster-demo.css" rel="stylesheet">

    <main role="main" class="row home-bg-1" id='demo'>
        <title>Aster | Demo</title>

        <div class="tagline tagline-offset tagline-demo">
            An interactive dashboard for first responders.
        </div>
        <div class="container row">

            <div class="col demo-feature-with-border">
                <div id= 'map'></div>
                <script type="text/javascript">
                    var map_parameters = {{ map_parameters|tojson|safe }};
                </script>
                <script type="text/javascript" src="/static/includes/aster-map.js"></script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&callback=initMap&language=en"></script>
            </div>

            <div class="demo-feature col-3 align-top row">

                <div class="btn-holder text-center" style="width: 80%">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn aster-btn aster-btn-margin btn-outline-success btn-block
                    activated" data-loading-text="Try me!" data-toggle="modal" data-target="#startDemo">
                        Try Me
                    </button>

                    <!-- Modal Phone Number-->
                    <div class="modal fade" id="startDemo" tabindex="-1" role="dialog" aria-labelledby="startDemo" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document" style="display: inline-flex;">
                            <div class="modal-content aster-theme-modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="startDemoLabel">Try me!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="phone-number" class="col-form-label" align="left">
                                                Welcome to the demo of AsTeR!<br><br>
                                                Enter your phone number and call +1 (208) 953-2494 as if you
                                                were calling 911.<br><br>
                                                Briefly summarize your emergency and don't forget to
                                                mention your location!
                                            </label><br>
                                            <input class="form-control form-control-sm" name="phone number"
                                                   type="tel" placeholder="Enter your Phone Number"
                                                   id="phone-number-input" style="width: 90%; text-align: center; margin-left: 1.25vw;">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn aster-btn btn-outline-success btn-block mt-auto activated"
                                            id = "start-demo" data-toggle="modal" data-target="#asterDemo"
                                            data-dismiss="modal">Ready!</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Demo-->
                    <div class="modal fade" id="asterDemo" tabindex="-1" role="dialog" aria-labelledby="asterDemo" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content aster-theme-modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="asterDemoLabel">Demo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {#                            // IBM #}
                                {#                                <div class="modal-body col-4">#}
                                {#                                    <form>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="message" class="col-form-label" align="left">#}
                                {#                                                Message#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-ibm-message" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="confidence" class="col-form-label" align="left">#}
                                {#                                                Confidence#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-ibm-confidence" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="location" class="col-form-label" align="left">#}
                                {#                                                Features#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-ibm-features" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="priority" class="col-form-label" align="left">#}
                                {#                                                Priority#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-ibm-priority" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="class" class="col-form-label" align="left">#}
                                {#                                                Class#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-ibm-class" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </form>#}
                                {#                                </div>#}
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group row" align="left">
                                            <label for="message" class="col-form-label" align="left">
                                                Message
                                            </label>
                                            <div class="col-sm-10">
                                                <p id="display-gcp-message" class="form-control-static">...</p>
                                            </div>
                                        </div>
                                        <div class="form-group row" align="left">
                                            <label for="confidence" class="col-form-label" align="left">
                                                Confidence
                                            </label>
                                            <div class="col-sm-10">
                                                <p id="display-gcp-confidence" class="form-control-static">...</p>
                                            </div>
                                        </div>
                                        <div class="form-group row" align="left">
                                            <label for="location" class="col-form-label" align="left">
                                                Features
                                            </label>
                                            <div class="col-sm-10">
                                                <p id="display-gcp-features" class="form-control-static">...</p>
                                            </div>
                                        </div>
                                        <div class="form-group row" align="left">
                                            <label for="priority" class="col-form-label" align="left">
                                                Priority
                                            </label>
                                            <div class="col-sm-10">
                                                <p id="display-gcp-priority" class="form-control-static">...</p>
                                            </div>
                                        </div>
                                        <div class="form-group row" align="left">
                                            <label for="class" class="col-form-label" align="left">
                                                Class
                                            </label>
                                            <div class="col-sm-10">
                                                <p id="display-gcp-class" class="form-control-static">...</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                <div class="modal-body col-4">#}
                                {#                                    <form>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="message" class="col-form-label" align="left">#}
                                {#                                                Message#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-aws-message" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="confidence" class="col-form-label" align="left">#}
                                {#                                                Confidence#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-aws-confidence" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="location" class="col-form-label" align="left">#}
                                {#                                                Features#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-aws-features" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="priority" class="col-form-label" align="left">#}
                                {#                                                Priority#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-aws-priority" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="form-group row" align="left">#}
                                {#                                            <label for="class" class="col-form-label" align="left">#}
                                {#                                                Class#}
                                {#                                            </label>#}
                                {#                                            <div class="col-sm-10">#}
                                {#                                                <p id="display-aws-class" class="form-control-static">...</p>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </form>#}
                                {#                                </div>#}
                                <div class="modal-footer">
                                    <button type="button" id="close-demo" class="btn aster-btn btn-outline-success
                                            btn-block mt-auto activated" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="collapsible" data-toggle="collapse"
                        data-target="#collapsible-explanations" aria-expanded="true"
                        aria-controls="collapsible-explanations">
                        <i class="fa fa-chevron-down" style="margin-right: 2vw;"></i>
                        Read Me
                        <i class="fa fa-chevron-down" style="margin-left: 2vw;"></i>
                </button>
                <div id="collapsible-explanations" class="explanations collapse show">
                    <text>
                        This is a simplified version of the dashboard that will be presented to call centers.
                        <br>
                        <br>
                        An interactive map displays the most recent calls. The priority scores and classes are displayed
                        on the right. This helps operators focus their efforts on those calls which require immediate
                        attention. The demo only shows post-processed calls, so the rendering may be incremental.
                        <br>
                        <br>
                        Click on the button above to start!
                    </text>
                </div>

                <div class="table-container" style="margin-top: 0.25vh;">
                    <table class="table table-bottom-margin table-striped table-dark text-center">
                        <thead>
                        <tr>
                            <th scope="col"><b>Received Calls</b></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-container">
                    <table class="table table-bottom-margin table-striped table-dark text-center" id="call_log">
                        <thead>
                        <tr>
                            <th scope="col">Phone number</th>
                            <th data-field="score" scope="col">Priority</th>
                        </tr>
                        </thead>
                    </table>
                </div>

            </div>

        </div>

    </main>
    </body>

    <script>
        var $IBMmessage = document.getElementById('display-ibm-message');
        var $IBMconfidence = document.getElementById('display-ibm-confidence');
        var $IBMfeatures = document.getElementById('display-ibm-features');
        var $IBMpriority = document.getElementById('display-ibm-priority');
        var $IBMclass = document.getElementById('display-ibm-class');
        var $GCPmessage = document.getElementById('display-gcp-message');
        var $GCPconfidence = document.getElementById('display-gcp-confidence');
        var $GCPfeatures = document.getElementById('display-gcp-features');
        var $GCPpriority = document.getElementById('display-gcp-priority');
        var $GCPclass = document.getElementById('display-gcp-class');
        var $AWSmessage = document.getElementById('display-aws-message');
        var $AWSconfidence = document.getElementById('display-aws-confidence');
        var $AWSfeatures = document.getElementById('display-aws-features');
        var $AWSpriority = document.getElementById('display-aws-priority');
        var $AWSclass = document.getElementById('display-aws-class');

        var collapsible = document.getElementsByClassName("collapsible");

        var last_response;
        var fetchInterval;


        function return_index(table, priority_score) {
            // Returns the correct index in table at which priority_score should be inserted
            var rows, i, x;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                x = rows[i].getElementsByTagName("TD")[1];
                if (Number(x.innerHTML) < priority_score) {
                    return i
                }
            }
            return i
        }

        function update_call_log(table, call) {
            // Updates the call log table with the new call
            // console.log(call);
            const index = return_index(table, call.priority);
            let row = table.insertRow(index);
            let cell1 = row.insertCell(0);
            let cell2 = row.insertCell(1);
            cell1.innerHTML = call.phone_number;
            cell2.innerHTML = call.priority.substring(0, 5);
        }

        // Handles the pretty print of the phone number [Warning! Valid only for american numbers]
        $('#phone-number-input').keyup(function(e) {

            this.value = this.value.replace(/[^\-()0-9]/g, ''); //remove all chars, except dash and digits

            if (e.which !== 8 && e.which !== 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            var len = this.value.replace(/[^0-9]/g, '').length;
            var val = $(this).val();
            if (len === 1 && e.which !== 8 && e.which !== 0) {
                $(this).val("(" + val);
            } else if (len === 3 && e.which !== 8 && e.which !== 0) {
                $(this).val(val + ")-");
            } else if (len === 6 && e.which !== 8 && e.which !== 0) {
                $(this).val(val + "-");
            }
            $(this).attr('maxlength', '16');

        });

        // Script to start the demo. Grabs the phone number and updates the respective html fields with the result of
        // the request.
        document.getElementById('start-demo').addEventListener('click', function(event){

            var phone_number = document.getElementById("phone-number-input").value;

            function update_fields() {
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                $.getJSON($SCRIPT_ROOT+"/fetch_call_data?phone="+phone_number.replace(/[^0-9]/g, ''), function(response) {
                    last_response = response.GCP;
                    last_response.phone_number = phone_number;
                    {#$IBMmessage.innerHTML = response.IBM.Transcript;#}
                    {#$IBMconfidence.innerHTML = response.IBM.Confidence;#}
                    {#$IBMfeatures.innerHTML = response.IBM.Features;#}
                    {#$IBMpriority.innerHTML = response.IBM.Priority;#}
                    {#$IBMclass.innerHTML = response.IBM.Class;#}
                    $GCPmessage.innerHTML = response.GCP.Transcript;
                    $GCPconfidence.innerHTML = response.GCP.Confidence;
                    $GCPfeatures.innerHTML = response.GCP.Features;
                    $GCPpriority.innerHTML = response.GCP.Priority;
                    $GCPclass.innerHTML = response.GCP.Class;
                    {#$AWSmessage.innerHTML = response.AWS.Transcript;#}
                    {#$AWSconfidence.innerHTML = response.AWS.Confidence;#}
                    {#$AWSfeatures.innerHTML = response.AWS.Features;#}
                    {#$AWSpriority.innerHTML = response.AWS.Priority;#}
                    {#$AWSclass.innerHTML = response.AWS.Class;#}
                });
            }

            // Fetches new chunks every two seconds and stops automatically after 240 seconds (4 minutes)
            fetchInterval = setInterval(update_fields, 2000);
            setTimeout(function stopSimulation() {clearInterval(fetchInterval)}, 240000);

        }, false);

        // Stops the demo, the periodic requests and updates the call log with the values of the last response
        document.getElementById('close-demo').addEventListener('click', function(event){
            $('#collapsible-explanations').collapse();
            clearInterval(fetchInterval);
            update_call_log(document.getElementById("call_log"), last_response);
        }, false);

    </script>

{% endblock %}