{%  extends 'layout.html' %}

{%  block body %}

<body onload="document.body.style.opacity='1'">

    <title>AsTeR | Home</title>

    <section class="row home-bg-1" id="home">

        <div class="title">
            <span>A</span>
            <span class="small-letter">s</span>
            <span>T</span>
            <span class="small-letter">e</span>
            <span>R</span>
        </div>

        <div class="tagline">
            <span>
                AI-Powered Real-Time Emergency Calls Analysis and Effective Units Dispatching
            </span>
        </div>

        <div class="scroll">
            <a href="#features">
                <span></span><span></span><span></span>
            </a>
        </div>

    </section>

    <section class="row home-bg-2" id="features">

        <div class="tagline offset">
            <span>
                Using SOTA Technology to manage Time-pressing Issues when a Natural Disaster Occurs
            </span>
        </div>

        <div id="image-wrapper" class="image-wrapper">
            <img src="static/images/screen-map.png"/>
        </div>

        <div id="feature-wrapper">

            <div class="text-feature m-l-20">
                <text>
                    <strong>Call Analysis: </strong> 911 emergency calls are caught in real time by converting the audio stream into exploitable text, then analyzed with state-of-the-art NLP algorithms. Key relevant information is extracted, and the urgency of the situation is evaluated for an accurate intervention.
                </text>
            </div>

            <div class="text-feature m-l-20">
                <text>
                    <strong>Unit Dispatching: </strong> Using graph optimization algorithms, available emergency units are dispatched in the most efficient way possible based on the need and urgency extracted from calls. Time to intervention is key, and the way first responders are dispatched makes a life-saving difference.
                </text>
            </div> 

            <div class="text-feature m-l-20">
                <text>
                    <strong>Smart Feedback: </strong> AsTeR is more than an AI-powered API, it is also a platform on which dispatchers have an intuitive overview of all the communications. Relying on centralized data, it becomes easy for emergency centers and units to share information, for an optimal help from anyone when the time comes.
                </text>
            </div> 

        </div> 

    </section>

    <section class="row home-bg-3" id="story">

        <div class="tagline offset">
            <span>
                Tech for Good and Open-Source, listen to our Story
            </span>
        </div>

        <div class="container align-center">

            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/_SBBrj9y26M" frameborder="0" allowfullscreen></iframe>
            </div>

            <div id="description-01" class="description m-l-20 v-a-b" style="margin-bottom: 6px;">
                <text>
                     Whenever a natural disaster hits, everyone affected or panicking will tend to call 911 for support. Some of those calls have a higher priority than others, but the current responders are not able to know it before taking the call. <strong>AsTeR has been designed to answer this problem.</strong> Built as a modular platform, powered by an AI-enabled API, AsTeR catches incoming audio streams from saturated centers to extract key information and prioritize those calls before the responders answer those.
                </text>
            </div> 

        </div>  

        <div class="container align-center p-b-70">

            <div id="description-02" class="description m-r-20 v-a-t">
                <text>
                    This project was founded in Berkeley, California, as part of the <a href="https://callforcode.org/">Call for Code 2019</a>. Here, earthquakes and wildfires are more common than in other places in the US. Emergency centers are overwhelmed every time such event occurs. By switching to an automatic mode, people needing help still have the opportunity to expose their emergency, before being redirected to a responder that ended his previous call.
                </text>
            </div> 

            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/fLeLd2vp-8g" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

    </section>

    <section class="row home-bg-4" id="team">

        <div class="tagline offset">
            <span>
                Meet the Founding Team
            </span>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/meryll.png" alt="" class="img-responsive">
                <figcaption>
                    <h4>Meryll Dindin</h4>
                    <ul>
                        <li><a href="https://twitter.com/DindinMeryll" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/dindin-meryll" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://medium.com/@merylldin" target="_blank"><i class="fa fa-medium"></i></a></li>
                        <li><a href="https://github.com/Coricos" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.thrive-education.co" target="_blank">
                            <img src="static/images/companies/thrive-education-logo.png" alt="" class="img-responsive">
                        </a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/oskar.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Oskar Radermecker</h4>
                    <ul>
                        <li><a href="https://github.com/oskaradermecker" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/oradermecker" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.varian.com" target="_blank">
                            <img src="static/images/companies/varian-logo.png" alt="" class="img-responsive">
                        </a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/florian.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Florian Fesch</h4>
                    <ul>
                        <li><a href="https://github.com/florianfesch" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/florianfesch" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.itrenew.com" target="_blank">
                            <img src="static/images/companies/itrenew-logo.png" alt="" class="img-responsive">
                        </a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/thomas.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Thomas Galeon</h4>
                    <ul>
                        <li><a href="https://github.com/TheGaga" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/thomas-galeon" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <ul>
                        <li><a href="https://verily.com" target="_blank">
                            <img src="static/images/companies/verily-logo.png" alt="" class="img-responsive">
                        </a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/pierre-louis.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Pierre-Louis Missler</h4>
                    <ul>
                        <li><a href="https://github.com/pierrelouismissler" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/pierrelouismissler" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.ey.com/en_gl" target="_blank">
                            <img src="static/images/companies/ey-logo.png" alt="" class="img-responsive">
                        </a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="tagline">
            <span>
                Meet our Mentors
            </span>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/spencer.jpeg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Spencer Krum</h4>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/nibalizer" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.ibm.com/us-en/" target="_blank">
                            <img src="static/images/companies/ibm-logo.svg" alt="" class="img-responsive">
                        </a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

    </section>

    <section class="row home-bg-5" id="contact">

        <div class="tagline offset">
            <span>
                We are more than a Concept, we are an Applicable Solution
            </span>
        </div>

        <div class="line-bottom"></div>

        <div class="container align-center logo">

            <div class="col-md-1">
                <a href="https://www.linuxfoundation.org/" target="_blank">
                    <img src="static/images/partners/linux-foundation.png"/>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://callforcode.org" target="_blank">
                    <img src="static/images/partners/call-for-code.png"/>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://www.ibm.com/us-en/?ar=1" target="_blank">
                    <img src="static/images/partners/ibm-logo.svg"/>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://www.redcross.org" target="_blank">
                    <img src="static/images/partners/american-red-cross.png"/>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://www.unisdr.org" target="_blank">
                    <img src="static/images/partners/un-office-isdr.png"/>
                </a>
            </div>

        </div>

        <div class="line-top"></div>

        <div class="container align-center contact p-b-50">

            <div class="col-md-3 col-centered">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>San Francisco, CA, USA</p>
            </div>

            <div class="col-md-3 col-centered">
                <a class="button-contact" href="#pop-contact">Contact Us</a>
            </div>
                        
            <div class="col-md-3 col-centered">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <p>aster.messages@gmail.com</p>
            </div>

            <div id="pop-contact" class="overlay">
                <div class="popup">
                    <a class="close" href="#contact">&times;</a>
                    <div class="content">
                        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center" align="justify">
                            <h1 class="cover-heading text-center" style="margin-bottom: 20px;">Contact Us</h1>

                            {% for message in form.name.errors %}
                                <div class="flash">{{ message }}</div>
                            {% endfor %}
                            {% for message in form.email.errors %}
                                <div class="flash">{{ message }}</div>
                            {% endfor %}
                            {% for message in form.subject.errors %}
                                <div class="flash">{{ message }}</div>
                            {% endfor %}
                            {% for message in form.message.errors %}
                                <div class="flash">{{ message }}</div>
                            {% endfor %}

                            <div class="container">

                                <div class="col-md-10 col-centered">
                                    <form action="{{ url_for('home_page') }}" method=post name="contact" role="form">
                                        <div class="ml-form mb-3 fit-input">
                                            {{ form.name(class="form-control", placeholder="Your name", **{'data-validation':'required'}) }}
                                        </div>
                                        <div class="md-form mb-3 fit-input">
                                            {{ form.email(class="form-control", placeholder="Your email address", **{'data-validation':'required'}) }}
                                        </div>
                                        <div class="md-form mb-3 fit-input">
                                            {{ form.subject(class="form-control", placeholder="Subject ", **{'data-validation':'required'}) }}
                                        </div>
                                        <div class="md-form mb-3 fit-input">
                                            {{ form.message(class="form-control", placeholder="Write your message here! Surprise us!", **{'data-validation':'required'}) }}
                                        </div>
                                        <div class="fit-input send-contact">
                                            {{ form.submit(class='btn', value="SEND") }}
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</body>

<script>
$(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});
</script>

<script>
function adaptFeatures() {
    if ($(window).width() > 596) {
        $('#feature-wrapper').addClass('col-6');
        $('#image-wrapper').addClass('col-4');
    }
    else {
        $('#feature-wrapper').addClass('col-12');
        $('#image-wrapper').addClass('col-12');
        $('#description-01').removeClass('m-l-20');
        $('#description-01').removeClass('v-a-b');
        $('#description-02').removeClass('m-r-20');
        $('#description-02').removeClass('v-a-t');
    }
}
adaptFeatures();
</script>

{% endblock %}