{%  extends 'layout.html' %}

{%  block body %}

<body onload="document.body.style.opacity='1'">

    <title>Aster | Home</title>

    <section class="row home-bg-1" id="home">

        <div class="title">
            <span>A</span>
            <span style="margin-bottom: 4vh;">s</span>
            <span>T</span>
            <span style="margin-bottom: 4vh;">e</span>
            <span>R</span>
        </div>

        <div class="tagline">
            <span>
                AI-Powered Real-Time Emergency Calls Analysis
            </span>
        </div>

        <div class="scroll">
            <a href="#features">
                <span></span><span></span><span></span>
            </a>
        </div>

    </section>

    <section class="row home-bg-2" id="features">

        <div class="tagline offset">
            <span>
                Using State-of-the-Art Technology to Tackle real Issues when a Natural Disaster Occurs
            </span>
        </div>

    </section>

    <section class="row home-bg-3" id="story">

        <div class="tagline offset">
            <span>
                Tech for Good and Open-Source, listen to our Story
            </span>
        </div>

        <div class="container align-center">

            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/_SBBrj9y26M" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="description m-l-20 v-a-b" style="margin-bottom: 6px;">
                <text>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </text>
            </div> 

        </div>  

        <div class="container align-center p-b-70">

            <div class="description m-r-20 v-a-t">
                <text>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </text>
            </div> 

            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/fLeLd2vp-8g" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

    </section>

    <section class="row home-bg-4" id="team">

        <div class="tagline offset">
            <span>
                Meet the Founding Team
            </span>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/meryll.png" alt="" class="img-responsive">
                <figcaption>
                    <h4>Meryll Dindin</h4>
                    <ul>
                        <li><a href="https://twitter.com/DindinMeryll"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/dindin-meryll"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://medium.com/@merylldin"><i class="fa fa-medium"></i></a></li>
                        <li><a href="https://github.com/Coricos"><i class="fa fa-github"></i></a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/oskar.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Oskar Radermecker</h4>
                    <ul>
                        <li><a href="https://github.com/oskaradermecker"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/oradermecker"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/florian.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Florian Fesch</h4>
                    <ul>
                        <li><a href="https://github.com/florianfesch"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/florianfesch"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/thomas.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Thomas Galeon</h4>
                    <ul>
                        <li><a href="https://github.com/TheGaga"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/thomas-galeon"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/pierre-louis.jpg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Pierre-Louis Missler</h4>
                    <ul>
                        <li><a href="https://github.com/pierrelouismissler"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/pierrelouismissler"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

        <div class="tagline">
            <span>
                Meet our Mentors
            </span>
        </div>

        <div class="col-md-2">
            <div class="team-member">
            <figure>
                <img src="static/images/team/spencer.jpeg" alt="" class="img-responsive">
                <figcaption>
                    <h4>Spencer Krum</h4>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/nibalizer"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </figcaption>
            </figure>
            </div>
        </div>

    </section>

    <section class="row home-bg-5" id="contact">

        <div class="tagline offset">
            <span>
                We are more than a Concept, we are an Applicable Solution
            </span>
        </div>

        <div class="line-bottom"></div>

        <div class="container align-center logo">

            <div class="col-md-1">
                <a href="/">
                    <img src="static/images/partners/linux-foundation.png"/>
                </a>
            </div>

            <div class="col-md-1">
                <a href="/">
                    <img src="static/images/partners/ibm-logo.svg"/>
                </a>
            </div>

            <div class="col-md-1">
                <a href="/">
                    <img src="static/images/partners/american-red-cross.png"/>
                </a>
            </div>

        </div>

        <div class="line-top"></div>

        <div class="container align-center contact p-b-50">

            <div class="col-md-3 col-centered">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>San Francisco, CA, USA</p>
            </div>

            <div class="col-md-3 col-centered">
                <a class="button-contact bouncy" href="#pop-contact">Contact Us</a>
            </div>
                        
            <div class="col-md-3 col-centered">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <p>aster.messages@gmail.com</p>
            </div>

        </div>

    </section>

</body>

<script>
$(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});
</script>

{% endblock %}