<div class="top-navbar">

    <!-- Social media redirection -->
    <div class="social-links">
        <a href="https://twitter.com/DindinMeryll"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/meryll.dindin"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/dindin-meryll"><i class="fa fa-linkedin"></i></a>
        <a href="https://medium.com/@merylldin"><i class="fa fa-medium"></i></a>
    </div>

    <!-- Defines the top right side hamburger menu -->
    <div class="top-wrapper">

        <input id="toggle" type="checkbox"/>
        <label for="toggle">
            <div class="button" id="menu-button"><i class="fa fa-bars fa-2x"></i></div>
        </label>

        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

    </div>

</div>