{%  extends 'layout.html' %}

{%  block body %}

<body onload="document.body.style.opacity='1'">

    <title>AsTeR | Press</title>

    <section class="row press-bg">

        <div id="media-carousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" style="color: black;">
              <li data-target="#media-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#media-carousel" data-slide-to="1"></li>
              <li data-target="#media-carousel" data-slide-to="2"></li>
            </ol>

            <div class="container p-t-0 m-t-2 carousel-inner">
                
                <div class="row-equal carousel-item active m-t-0">

                    <div class="col-md-4">
                        <div class="card h-100">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-01.png" alt="Medium Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://medium.com/@merylldin/project-aster-ibm-call-for-code-30d959614be7" target="_blank">The exciting design of Project AsTeR</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 3rd.</small></p>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-02.png" alt="TechRepublic Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://www.techrepublic.com/article/ibm-announces-the-finalists-of-call-for-code-2019/" target="_blank">Finalists of Call for Code 2019</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 17th.</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card h-100">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-03.png" alt="Berkeley Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://funginstitute.berkeley.edu/news/meng-alumni-address-disaster-response-through-project-aster/" target="_blank"> Berkeley MEng alumni</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 18th.</small></p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-equal carousel-item m-t-0">

                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-04.png" alt="IBM Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://newsroom.ibm.com/2019-09-17-Top-five-open-source-powered-solutions-to-mitigate-the-impact-of-natural-disasters-announced-as-finalists-in-Call-for-Code-global-coding-challenge" target="_blank">Top five open source-powered solutions</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 17th.</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-05.png" alt="IBM Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://ibmcode-staging.us-east.containers.mybluemix.net/callforcode/projects/" target="_blank">Call for Code 2019 Global Challenge</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 17th.</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-06.png" alt="TechCrunch Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://techcrunch.com/sponsored/vote-for-your-top-natural-disaster-tech-solution/" target="_blank">TechCrunch Public Vote</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 12th.</small></p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-equal carousel-item m-t-0">

                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-07.png" alt="CTA Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://www.cta.tech/News/Blog/Articles/2019/May/These-Berkeley-College-Students-Are-Using-Artifici.aspx" target="_blank">CTA Feature</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 25th, 2019.</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-08.png" alt="Berkeley Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://medium.com/the-coleman-fung-institute/meng-alumni-address-disaster-response-through-project-aster-d3958338e0aa" target="_blank">Berkeley Project Call to Action</a></h4>
                                <p class="card-text"><small class="text-muted">Written on May, 31th, 2019, 2019.</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="static/images/articles/article-09.png" alt="IBM Article">
                            <div class="card-body">
                                <h4 class="card-title"><a href="https://ibmcode-staging.us-east.containers.mybluemix.net/callforcode/blogs/call-for-code-2019-finalist-aster/" target="_blank">IBM Presentation</a></h4>
                                <p class="card-text"><small class="text-muted">Written on September, 12th, 2019.</small></p>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#media-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#media-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>

    </section>

</body>

{% endblock %}